{% extends 'base.html' %}
{% block content %}
 
       
            <body>      
                <div class = "about">
                    <h1 class="test">Base Camp Coding Academy</h1>
                    <h2>Base Camp Coding Academy (BCCA) is a hands-on, challenging, and fun program designed to train recent high school graduates to be software engineers. In an intimate classroom setting, students work with real world technologies to learn the fundamentals of coding, app development and the life leadership skills they will need to be successful in their career and competitive in the job market upon graduation. Base Camp is a non-profit, offering year-long—40 hours each week—program free to their students thanks to the support of Sustaining Sponsors including the MorganWhite Group, CoreLogic, Renasant Bank, and C Spire.</h2>
                </div>
            </body>
{%endblock content%}











